body {
  background-color: #353535;
  color: white;
  font-size: 20px;
  font-family: Whitney, "Microsoft JhengHei", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft YaHei", 微軟雅黑, 宋体, SimSun, "Helvetica Neue", Helvetica,Arial, sans-serif;;
}

body,html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}